#ut-container svg[aria-expanded="true"],
#ut-container img[aria-expanded="true"] {
  color: #ffc107;
}

#ut-container {
  text-align: center;
  position: absolute;
  right: 0.75em;
  top: 0.3em;
  background-color: rgba(22, 24, 24, 0.8);
  border-radius: 12px;
  width: 320px;
  height: 37px;
}

#ut-container .ut-icon#home {
  margin-right: 24px;
}
#ut-container .ut-icon {
  color: white;
  cursor: pointer;
  font-size: 26.5px;
  margin: 4px 5px 2px 25px;
}

#ShareButtons-container {
  position: absolute;
  background: rgba(66, 66, 66, 1);
  top: 42px;
  border-radius: 15px;
  padding: 5px;
  width: 190px;
  font-size: 30px;
  color: white;
}

#ShareButtons-container svg {
  margin-right: 10px;
  margin-left: 5px;
  cursor: pointer;
}

#ShareButtons-container #telegram {
  color: rgba(47, 166, 222, 0.8);
}
#ShareButtons-container #telegram:hover {
  color: rgba(47, 166, 222, 1);
}
#ShareButtons-container #whatsapp {
  color: rgba(46, 213, 74, 0.8);
}
#ShareButtons-container #whatsapp:hover {
  color: rgba(46, 213, 74, 1);
}
#ShareButtons-container #Gmail {
  color: rgba(234, 67, 53, 0.8);
}
#ShareButtons-container #Gmail:hover {
  color: rgba(234, 67, 53, 1);
}

#ShareButtons-container #copy-url {
  color: rgba(175, 175, 175, 0.8);
  font-size: 27px;
}
#ShareButtons-container #copy-url:hover {
  color: rgba(175, 175, 175, 1);
}

#copiedAlert {
  background-color: rgba(27, 236, 156, 0.95);
  position: absolute;
  right: 20px;
  width: 61%;
  font-size: 17px;
  padding: 3px;
  top: 13px;
  color: #212529;
  border-radius: 7px;
  font-weight: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

#copiedAlert.show {
  visibility: visible;
  opacity: 1;
}

#InfoButton-container {
  position: absolute;
  background: rgba(66, 66, 66, 1);
  top: 42px;
  right: 64px;
  border-radius: 10px;
  width: 110px;
  height: 85px;
  font-size: 12px;
  color: white;
  text-align: right;
}
#InfoButton-container ul {
  list-style-type: none;
  list-style-type: none;
  padding: 0;
}

#InfoButton-container ul li {
  cursor: pointer;
  border-bottom: 1px solid gray;
  padding: 5px;
}

#InfoButton-container ul li:last-child {
  border: none;
}

#InfoButton-container ul li:hover {
  background: rgba(0, 123, 255, 0.25);
}

#InfoButton-container ul li:last-child:hover {
  border-radius: 0 0 10px 10px;
}

#InfoButton-container ul li:first-child:hover {
  border-radius: 10px 10px 0 0;
}
