#photoVideo-container {
  background: rgba(22, 24, 24, 0.8);
  position: absolute;
  width: 255px;
  top: 42px;
  border-radius: 5px;
}

#photoVideo-wrapper {
  position: relative;
}

.nav-tabs {
  padding: 2px 0px 1px 0px !important;
  border-bottom: 2px solid #e4b527 !important;
  margin: 0px 3.5px 0px 3.5px !important;
}

.nav-tabs a {
  line-height: 13px;
}
.nav-tabs a ion-icon {
  font-size: 20px;
  margin: 0 10px 0 10px;
}

#pv-tab a {
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 20px;
  color: white;
  border-radius: 5px 5px 0 0;
  background-color: rgba(16, 16, 16, 0.8);
  margin: 5px 0px 0 0px;
  border: none;
}

#pv-tab li:not(:last-child) {
  margin-right: 2.5px;
}

#pv-tab a:hover {
  color: white;
  border: none;
}

.nav-link.active {
  background-color: #e4b527 !important;
  color: black !important;
  border-radius: 5px 5px 0 0 !important;
  border: none !important;
}

#photoVideo {
  width: 28px;
  height: 28px;
  margin-bottom: 20px !important;
}
