#LayersTabContent-operators {
  background-color: #1f354a;
  text-align: center;
  border-top: 1px dashed #e4b52780;
  padding-top: 6px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 96%;
}
#LayersTabContent-operators button {
  margin: 5px 10px 5px 10px;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
}

/* width */
div#ma-wrapper #layers::-webkit-scrollbar {
  width: 5px;
}

/* Track */
div#ma-wrapper #layers::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
div#ma-wrapper #layers::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
div#ma-wrapper #layers::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media only screen and (max-width: 500px) {
  #LayersTabContent-operators {
    width: 100%;
  }
}
