#ma {
  position: absolute;
  width: 350px;
  min-height: 60%;
  max-height: 90%;
  z-index: 10;
}

#ma-relative-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 20px;
}

#ma-container {
  position: absolute;
  background-color: rgba(33, 37, 41, 0.9);
  width: 350px;
  height: 100%;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  top: 45px;
  left: 10px;
  overflow: hidden;
  transition: width 0.2s, height 0.2s;
}

#ma.rollUp {
  min-height: 1%;
}

#ma.rollUp #ma-header {
  position: absolute;
  background-color: rgba(22, 24, 24, 0.8);
  width: 46px;
  height: 40px;
  z-index: 10;
  border-radius: 12px;
  top: 5px;
  left: 10px;
}
#ma.rollUp #ma-container {
  display: none;
}

#ma-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #323439;
}

#ma-header {
  position: absolute;
  background-color: rgba(33, 37, 41, 0.9);
  width: 350px;
  height: 40px;
  z-index: 10;
  border-radius: 10px 10px 0 0;
  top: 5px;
  left: 10px;
  transition: width 0.15s, height 0.15s, border-radius 0.5s;
}

#ma-items-wrapper {
  margin-top: 35px;
}

#ma-header ion-icon {
  font-size: 35px;
  margin-left: 5px;
  margin-top: 3px;
  color: #adb5bd;
  /* background-color: #0062cc; */
  /* border: 2px solid #adb5bd;
  border-radius: 12px; */
}

#ma-footer {
  background-color: rgba(33, 37, 41, 1);
  width: 350px;
  height: 40px;
  position: absolute;
  bottom: 0;
  z-index: 158;
  border-radius: 0px 0px 10px 10px;
  left: 10px;
}

#ma-tab-content {
  height: 89%;
  margin: 6px;
  overflow-y: auto;
  border-radius: 5px;
  scrollbar-width: none;
}

#ma-tab-content .tab-pane {
  overflow-y: auto;
  scrollbar-width: none;
  background-color: #007bff26;
  height: 100%;
  margin: 1px;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  overflow: -moz-scrollbars-none;
}

#ma-header-menu {
  cursor: pointer;
}

.user-managerConatainer {
  position: absolute;
  background: rgba(220, 53, 69, 0.7);
  top: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.user-superManagerConatainer {
  position: absolute;
  background: rgba(255, 193, 7, 0.7);
  top: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.ma-header-title.karaneh {
  color: #d0d0d0;
  font-size: 25px;
  float: right;
  margin: 0px 10px 7px;
  font-weight: 100;
}

.ma-header-title.afagh {
  color: #d0d0d0;
  font-size: 25px;
  float: right;
  margin: 0px 10px 7px;
  font-weight: 100;
}

.rollUp > #ma-header > .ma-header-title {
  display: none !important;
}

@media only screen and (max-width: 500px) {
  #ma {
    width: 100%;
    min-height: 100%;
  }
  #ma-header {
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
    background-color: rgba(33, 37, 41, 0.99);
  }
  #ma-container {
    width: 100%;
    left: 0;
    top: 35px;
    border-radius: 0;
    background-color: rgba(33, 37, 41, 0.95);
  }
  #ma-wrapper {
    height: 95%;
  }
}
