#video-element {
  display: none;
}

#background-canvas {
  position: absolute;
  top: -99999999px;
  left: -9999999999px;
}

.canvasi {
  height: 751px;
  width: 751px;
  position: absolute;
  top: -99999999px;
  left: -9999999999px;
  z-index: 0;
}
#draggable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}

.animationGif-wrapper {
  margin: 15px;
}
