#video-element {
  display: none;
}

#background-canvas {
  position: absolute;
  top: -99999999px;
  left: -9999999999px;
}

#canvasi-title {
  position: absolute;
  top: 5;
  left: 5;
}
#canvasi-logo img {
  width: 50px;
  opacity: 0.5;
}
#canvasi-logo {
  position: absolute;
  right: 15;
  bottom: 15;
}
.canvasi {
  height: 751px;
  width: 751px;
  position: absolute;
  right: 100;
}
#draggable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
}
