#mapContainer {
  width: 100%;
  height: 100%;
}

#mapContainer {
  width: 100%;
  height: 100%;
}

#mapContainer .ol-zoom .ol-zoom-out {
  margin-top: 150px;
}
#mapContainer .ol-zoomslider {
  background-color: rgba(145, 145, 146, 1);
  width: 5px;
  height: 150px;
  border-radius: 0;
}

#mapContainer .ol-touch .ol-zoomslider {
  top: 2.75em;
}

#mapContainer .ol-zoom-in.ol-has-tooltip:hover [role="tooltip"],
#mapContainer .ol-zoom-in.ol-has-tooltip:focus [role="tooltip"] {
  top: 3px;
}

#mapContainer .ol-zoom-out.ol-has-tooltip:hover [role="tooltip"],
#mapContainer .ol-zoom-out.ol-has-tooltip:focus [role="tooltip"] {
  top: 232px;
}

.ol-zoom {
  top: 2.8em;
  right: 0.6em;
  left: auto;
}

.ol-zoomslider {
  top: 4.5em;
  right: 1.4em;
  left: auto;
}

.ol-zoomslider button {
  position: relative;
  height: 11px;
  width: 22px;
  border-radius: 3px;
  right: 11.6px;
  background: rgba(0, 123, 255, 1);
  border: 2px solid #545b62;
}
.ol-control button.ol-zoomslider-thumb:hover,
.ol-control button.ol-zoomslider-thumb:focus {
  text-decoration: none;
  outline: 0;
  background: rgba(0, 123, 255, 1);
}

.ol-control,
.ol-control:hover,
.ol-control:active {
  background-color: transparent;
  border: none;
}

#mapContainer .ol-zoom .ol-zoom-in,
#mapContainer .ol-zoom .ol-zoom-out {
  background-color: rgba(22, 24, 24, 0.8);
  border-radius: 5px;
  width: 24px;
  height: 24px;
  margin-left: 4px;
}

.ol-rotate-reset {
  background-color: transparent !important;
  border-radius: 50% !important;
  position: absolute !important;
  bottom: 20px !important;
  right: 17px !important;
  outline: 0;
}

.ol-rotate-reset:hover,
.ol-rotate-reset:focus,
.ol-rotate-reset:active {
  outline: 0;
}

.ol-rotate-reset .ol-compass {
  transform: rotate(13.1528rad);
  color: rgb(0 123 255);
  font-size: 40px;
  font-weight: 900;
}

.ol-rotate,
.ol-rotate:hover,
.ol-rotate:active,
.ol-rotate:focus {
  bottom: 9.5em;
  top: auto;
  right: 1em;
  background: rgb(255 255 255 / 51%);
  border: 2px solid rgb(0 123 255);
  width: 65px;
  height: 65px;
  border-radius: 15%;
}

.ol-scale-line {
  bottom: 110px;
  left: auto;
  right: 10px;
  background: rgba(52, 61, 64, 0.7);
  border-radius: 10px;
}

.ol-scale-line-inner {
  border: 1px solid #a7a7a7;
  color: #eee;
  background: #343d40;
  border-radius: 10px;
}
