tr.selected {
  background-color: rgba(0, 123, 255, 0.25) !important;
  box-shadow: -1px 0px 20px 3px #909090b8;
}
tbody tr.selected:hover {
  background-color: rgba(0, 123, 255, 0.55) !important;
  box-shadow: -1px 0px 20px 3px #909090b8;
}
tbody tr:hover {
  background-color: #ebebeb !important;
  box-shadow: -1px 2px 5px 0px #909090b8;
}

tr {
  text-align: center;
}

.dataTables_info .select-info {
  color: #28a745;
  margin-left: 15%;
}

/* allow selection  */
:host .datatable .datatable-body-cell {
  -webkit-user-select: initial !important;
  -moz-user-select: initial !important;
  -ms-user-select: initial !important;
  -o-user-select: initial !important;
  user-select: initial !important;
}

.table-header {
  direction: rtl;
  text-align: center;
  background: white;
  color: black;
  padding: 9px;
  border-radius: 5px;
  box-shadow: -1px 1px 4px 4px #efefef;
}

div.dataTables_wrapper div.dataTables_info {
  margin-top: 35px;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin-top: 35px;
}

#tableo {
  background: #dadada;
  border-radius: 24px;
  outline: none;
}

#tableo td {
  border: none;
}
#tableo th {
  border: none;
  outline: none;
}

#tableo tbody tr:last-child td:first-child {
  border-radius: 0 0 0 15px;
}
#tableo tbody tr:last-child td:last-child {
  border-radius: 0 0 15px 0;
}

#tableo_filter label {
  width: 100%;
}
#tableo_filter input {
  border-radius: 15px;
  width: 50%;
  float: right;
}

#tableo_length select {
  border-radius: 15px;
}

#tableo_previous a {
  border-radius: 24px 0 0 24px;
}

#tableo_next a {
  border-radius: 0 24px 24px 0;
}
