#adminContentContainer,
.wrapper {
  font-family: "byekani", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
#adminContentContainer {
  margin-top: 120px;
  width: 75%;
}
